/* makes html scroll smooth */
html {
    scroll-behavior: smooth;
    background-color: #082032
  }
.developer_name {
  font-size: 50px;
  color: #FF4C29;
  font-family: 'Courier New', Courier, monospace;
}

.letqin {
  font-size: 35px;
  color: #FF4C29;
  font-family: 'Courier New', Courier, monospace;
}

.links ul li {
  text-decoration: none;
  display: grid;
  grid-column-start: 4 / span 3;
}

p {
  text-align: center;
}