/* makes html scroll smooth */
html {
    scroll-behavior: smooth;
    background-color: #082032
  }
   /* unvisited link */
a:link {
  color: #2C394B;
}

/* visited link */
a:visited {
  color: #2C394B;
}

/* mouse over link */
a:hover {
  color: #334756;
}

/* selected link */
a:active {
  color: #FF4C29;
} 
/* changes font size and color of developer_name */
.developer_name {
  font-size: 50px;
  color: #FF4C29;
  font-family: 'Courier New', Courier, monospace;
}
/* changes font size and color of letqin */
.letqin {
  font-size: 35px;
  color: #FF4C29;
  font-family: 'Courier New', Courier, monospace;
}

.links ul li {
  display: grid;
  grid-column-start: 4 / span 3;
}

.about_me_p {
  text-align: center;
}